# Telegram Configuration
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
BOT_TOKEN=
MASTER_BOT_SESSION=

# Logger Bot Configuration
LOGGER_BOT_TOKEN=

# Admin Configuration
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Database Configuration
DATABASE_URL=
